.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(178, 239, 252);
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.app-container {
  min-width: 400px;
  width: 90%;
  min-height: 400px;
  height: 80%;
  background-color: rgba(186, 186, 186, 0.591);
  border-radius: 0.5em;
  margin: 1em;
}

.city-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}